[user]
	name = basicdays
	email = info@basicdays.com
[push]
	default = simple
[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
[difftool "vimdiff"]
	cmd = vim -f -d -c \"wincmd l\" -c \"cd \\\"$GIT_PREFIX\\\"\" \"$LOCAL\" \"$REMOTE\"
#[core]
#	askpass = /usr/bin/ksshaskpass
