set nogdefault
set hlsearch
set incsearch
set number
set showmode
set ideajoin
set visualbell

" mappings
" ========
let mapleader = ","

" copy/paste
vnoremap <leader>y "+y
vnoremap <leader>d "+d
nnoremap <leader>y "+y
nnoremap <leader>Y "+Y
nnoremap <leader>P "+P

" misc
nnoremap <leader><space> :noh<Enter>
